body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  border-radius: 50px;
  width: 10%;
  cursor: pointer;
}
li {
  list-style: none;
}
img {
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}
.products-grid {
  display: grid;
  border-radius: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10rem;
  li {
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(170, 170, 170);
    border: 2px solid;
    img {
      cursor: pointer;
      width: 100%;
    }
  }
}

card-body {
  border-radius: 1rem;
  padding: 1rem;
}
.btn {
  width: 100%;
  padding: 0.8em;
  font-size: bold;
  cursor: pointer;
  border-radius: 20px;
}
select {
  font-size: 30px;
}
.btn:hover {
  background-color: rgb(74, 154, 127);
  timeline-scope: 5s;
  width: 100%;
  padding: 0.8em;
  font-size: bold;
  cursor: pointer;
  border-radius: 20px;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.toggle-label {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.toggle-input {
  display: inline-block;
  height: 20px;
  width: 40px;
  position: relative;
  cursor: pointer;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: #2196f3;
}

input:checked + .toggle-slider:before {
  transform: translateX(20px);
}

input[type="checkbox"] {
  visibility: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.snip1577 {
  font-family: "Montserrat", Arial, sans-serif;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 10px;
  /* min-width: 230px;
  max-width: 315px; */
  /* width: 100%; */
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
